html, body {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
}

.banner-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.banner-video {
	width: 100%;
	height: 100%;
}

.banner-video-wrapper {
	max-height: 100vh;
	height: 100%;
	overflow: hidden;
}

.banner-wrapper {
	position: absolute;
	bottom: 40%;
	color: white;
	margin: auto;
	text-align: center;
	display: block;
	width: 100%;
}

.banner-text {
	font-size: 7em;
	font-weight: 900;
	color: white;
	margin: 0;
}

.banner-links {
	font-weight: 300;
}

.banner-link {
	text-decoration: none;
	color: white;
	margin: 0 .3em;
}

.banner-links a:hover {
	text-decoration: underline;
}

.banner-dot {
	background-color: red;
	width: 15px;
	height: 15px;
	border-radius: 999px;
	border: solid black 10px;
	position: absolute;
	top: calc(100% - 20px);
  /* width + 2 * border size */
	left: calc(50% - 10px);
	z-index: 1;
}

.block {
	position: relative;
	overflow: hidden;
}

.block-image {
	background-repeat: no-repeat;
	margin-left: 32%;
	background-position: bottom;
	background-size: contain;
	height: 500px;
}

.block-1 {
	background-image: url(/img/block_tv.jpg);
}

.block-2 {
	background-image: url(/img/block_dress.jpg);
}

.block-4 {
	background-image: url(/img/block_flex.jpg);
}

.block-3 {
	background-image: url(/img/block_purple.jpg);
}

.block-5 {
	background-image: url(/img/block_cube.jpg);
	right: -20%;
	position: relative;
}

.container {
}

.contact-form {
	margin: auto;
	max-width: 40em;
	margin-left: 20%;
	color: white;
}

.contact-form label {
	display: none;
	margin-bottom: .7em;
}

.contact-form input,
.contact-form textarea {
	-webkit-appearance: none;
	border: solid 2px white;
	padding: .8em;
	margin-bottom: 2em;
	color: white;
	background-color: black;
	display: block;
	width: 100%;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	font-size: 1em;
}

.contact-form input[type="submit"] {
	background-color: white;
	color: black;
	width: auto;
	font-size: 1em;
	cursor: pointer;
	padding: .4em .8em;
}

.contact-form input[type="submit"]:hover {
	color: white;
	background-color: black;
}

.footer {
	color: white;
	text-align: center;
	margin-bottom: 2em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.navbar {
	position: absolute;
	z-index: 1;
	width: 100%;
}

.navbar-logo {
	width: 100px;
	height: auto;
}

.navbar-links {
	display: none;
	position: absolute;
	margin-top: 1em;
	margin-right: 1em;
	right: 0;
	top: 0;
}

.navbar-links a {
	color: white;
	font-weight: 300;
	padding: .4em;
}

.text-block {
	color: white;
	margin-top: 4em;
	max-width: 30em;
	position: absolute;
	bottom: 20%;
	margin-left: 20%;
	margin-bottom: 2em;
	right: 0;
	left: 0;
}

.text-block h2 {
	font-size: 1.4em;
}

.text-block p {
	font-size: 1em;
	line-height: 1.5em;
}

@media only screen and (max-width: 1000px) {
	.banner-text {
		font-size: 3em;
	}

	.contact-form {
		margin-left: 2em;
	}

	.text-block {
		margin-left: 2em;
		margin-right: 20%;
	}
}

@media only screen and (max-width: 600px) {
	.banner-text {
		font-size: 2em;
	}
}
