<div class="block">
  <div class="block-image block-5"></div>
  <form class="text-block contact-form" action="https://formspree.io/mint.art.events@gmail.com" method="POST">
    <h2 class="">Neem contact op</h2>
    <label>bericht</label>
    <textarea rows="4" name="message" placeholder="bericht" ></textarea>
    <label>emailadres</label>
    <input type="email" name="_replyto" placeholder="emailadres">
    <input type="submit" value="verzenden">
  </form>
  <div class="footer">
    Mint Art B.V. • Insulindestraat 237 A 03, 3038 JP  Rotterdam • 06 38526441 • mintartevents@gmail.com
  </div>
</div>
