<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Mint video</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,900|Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <a href="/">
    <img src="/img/logo_edit.svg" class="navbar-logo--mobile">
  </a>
  <nav id="nav" class="navbar">
    <a href="/">
      <img src="/img/logo_edit.svg" class="navbar-logo">
    </a>
    <div class="navbar-links">
      <a href="/">Home</a>
      <a href="/theater.html">Theater</a>
      <!-- <a href="/portfolio.html">Portfolio</a> -->
      <a href="/about.html">About</a>
      <a href="/contact.html">Contact</a>
    </div>
  </nav>
  <button class="nav-menu nav-menu--open" onClick="openMenu()"></button>
  <button class="nav-menu nav-menu--close" onClick="closeMenu()"></button>
  {{ content }}
  <script src="js/main.js"></script>
</body>

</html>
